Repository nick-youngblut/arc-reactor: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check backend
        language: system
        types: [python]
      - id: black
        name: black
        entry: black backend
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: prettier
        name: prettier
        entry: bash -c "cd frontend && npm run format"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md)$

feat: Initialize Arc Reactor full-stack project with Next.js frontend and FastAPI backend.
  backend/__init__.py
  backend/agents/__init__.py
  backend/agents/subagents/__init__.py
  backend/agents/tools/__init__.py
  backend/api/__init__.py
  backend/api/routes/__init__.py
  backend/api/routes/health.py
  backend/config.py
  backend/context.py
  backend/dependencies.py
  backend/main.py
  backend/models/__init__.py
  backend/pyproject.toml
  backend/services/__init__.py
  backend/settings.yaml
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/utils/__init__.py
Due: ruff, black

feat: scaffold new Next.js frontend application with Tailwind CSS, ESLint, and initial routing.
  frontend/.eslintrc.cjs
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/app/runs/[id]/page.tsx
  frontend/app/runs/page.tsx
  frontend/app/workspace/page.tsx
  frontend/components/.gitkeep
  frontend/hooks/.gitkeep
  frontend/lib/.gitkeep
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/.gitkeep
  frontend/stores/.gitkeep
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/types/.gitkeep
Due: eslint, prettier

feat: Implement CI/CD workflows and provision GCP infrastructure for VPC, SQL, Cloud Run, and storage using Terraform.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/pyproject.toml
  frontend/package.json
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  terraform/README.md
  terraform/backend.tf
  terraform/environments/dev.tfvars
  terraform/environments/prod.tfvars
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
Due: none

feat: Implement core services for Benchling, Gemini, Database, and Storage with enhanced health checks and circuit breaker resilience.
  README.md
  backend/__init__.py
  backend/api/routes/health.py
  backend/dependencies.py
  backend/main.py
  backend/pyproject.toml
  backend/services/benchling.py
  backend/services/database.py
  backend/services/gemini.py
  backend/services/storage.py
  backend/settings.yaml
  backend/tests/integration/test_integrations.py
  backend/tests/test_benchling_service.py
  backend/tests/test_health.py
  backend/tests/test_storage_service.py
  backend/utils/circuit_breaker.py
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  scripts/smoke_test.py
Due: ruff, black

feat: Implement initial data layer and services for users and runs, including database models, schemas, and migration setup.
  backend/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/0001_initial_schema.py
  backend/models/__init__.py
  backend/models/checkpoints.py
  backend/models/database.py
  backend/models/runs.py
  backend/models/schemas/__init__.py
  backend/models/schemas/logs.py
  backend/models/schemas/pipelines.py
  backend/models/schemas/runs.py
  backend/models/users.py
  backend/pyproject.toml
  backend/services/runs.py
  backend/services/users.py
  backend/tests/test_runs_service.py
  backend/tests/test_users_service.py
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
Due: ruff, black

feat: Add initial API routes and services for pipeline, run, and Benchling management, including authentication and error handling utilities.
  backend/api/routes/__init__.py
  backend/api/routes/benchling.py
  backend/api/routes/pipelines.py
  backend/api/routes/runs.py
  backend/dependencies.py
  backend/main.py
  backend/pyproject.toml
  backend/services/pipelines.py
  backend/utils/auth.py
  backend/utils/errors.py
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
Due: ruff, black

feat: Introduce run event streaming, log service and API, and extend storage for run-related files.
  backend/README.md
  backend/api/routes/__init__.py
  backend/api/routes/logs.py
  backend/api/routes/runs.py
  backend/pyproject.toml
  backend/services/logs.py
  backend/services/run_events.py
  backend/services/storage.py
  backend/tests/test_storage_service.py
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
  terraform/README.md
  terraform/main.tf
Due: ruff, black

feat: Update pyproject.toml to configure setuptools for package discovery and include all namespaces.
  backend/pyproject.toml
Due: none

refactor: Rename 'metadata' to 'checkpoint_metadata' in checkpoints model and schema to avoid SQLAlchemy reserved name conflict; update related files accordingly.
  SPEC/06-data-model-spec.md
  backend/main.py
  backend/migrations/versions/0001_initial_schema.py
  backend/models/checkpoints.py
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
Due: ruff, black

style: Add blank line for improved readability in main.py and adjust string formatting in initial_schema.py for consistency.
  backend/main.py
  backend/migrations/versions/0001_initial_schema.py
Due: ruff, black

feat: Implement chat functionality with WebSocket and REST endpoints, integrating AI agent for real-time messaging and response streaming; add necessary agent components and dependencies.
  backend/agents/__init__.py
  backend/agents/checkpointer.py
  backend/agents/model.py
  backend/agents/pipeline_agent.py
  backend/agents/prompts.py
  backend/agents/streaming.py
  backend/agents/tools/__init__.py
  backend/api/routes/__init__.py
  backend/api/routes/chat.py
  backend/api/routes/chat_rest.py
  backend/main.py
  backend/pyproject.toml
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: ruff, black

feat: Implement NGS discovery tools including search, sample retrieval, QC metrics, and FASTQ path retrieval; format outputs using TOON library for efficiency and add unit tests for validation.
  SPEC/05-agentic-features-spec.md
  backend/agents/tools/__init__.py
  backend/agents/tools/base.py
  backend/agents/tools/ngs_discovery.py
  backend/api/routes/chat.py
  backend/api/routes/chat_rest.py
  backend/pyproject.toml
  backend/tests/test_ngs_tools.py
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: ruff, black

feat: Add Benchling discovery and schema tools, implementing functions for entity retrieval, relationship traversal, entry management, and schema metadata access; include unit tests for validation.
  backend/agents/tools/__init__.py
  backend/agents/tools/benchling_discovery.py
  backend/agents/tools/schema_tools.py
  backend/tests/test_benchling_discovery_tools.py
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: ruff, black

fix: Update import path for toon encoder to improve module accessibility and maintain code organization.
  backend/agents/tools/base.py
Due: ruff, black

fix: Enhance tool error handler by adding function signature preservation with @wraps decorator for improved debugging and readability.
  backend/agents/tools/base.py
Due: ruff, black

refactor: Update model initialization to support both Google Gemini and Vertex AI providers, enhancing flexibility in chat model configuration. Update related documentation for clarity on usage.
  SPEC/07-integration-spec.md
  SPEC/11-conf-spec.md
  backend/agents/model.py
  backend/services/gemini.py
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: ruff, black

refactor: Simplify authentication setup by removing Vertex AI support, updating documentation and code to exclusively use Google Gemini API key for model initialization and configuration.
  README.md
  SPEC/03-backend-spec.md
  SPEC/07-integration-spec.md
  SPEC/08-security-spec.md
  SPEC/11-conf-spec.md
  backend/agents/model.py
  backend/services/gemini.py
  backend/tests/integration/test_integrations.py
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: ruff, black

feat: Enhance frontend UI with new layout components, theme provider, and Zustand state management; integrate HeroUI for consistent styling and add error boundary for improved user experience.
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/app/providers.tsx
  frontend/app/runs/[id]/page.tsx
  frontend/app/runs/page.tsx
  frontend/app/workspace/page.tsx
  frontend/components/ErrorBoundary.tsx
  frontend/components/Header.tsx
  frontend/components/MainLayout.tsx
  frontend/components/Sidebar.tsx
  frontend/components/ThemeProvider.tsx
  frontend/lib/api.ts
  frontend/lib/heroui.ts
  frontend/lib/queryClient.ts
  frontend/package.json
  frontend/public/arc-logo-white.png
  frontend/public/arc-logo_blue-circle.png
  frontend/public/favicon.svg
  frontend/stores/chatStore.ts
  frontend/stores/uiStore.ts
  frontend/stores/workspaceStore.ts
  frontend/styles/globals.css
  frontend/tailwind.config.js
  plan/05_Sprint4_Frontend-Implementation.md
Due: eslint, prettier

chore: Update frontend configuration files and dependencies; add TypeScript plugin for Next.js, update Tailwind CSS to version 4.0.0, and include package-lock.json for improved dependency management.
  frontend/next-env.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: eslint, prettier

feat: update color palette and refresh UI with new branding elements
  frontend/components/Header.tsx
  frontend/components/Sidebar.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatPanel.tsx
  frontend/components/chat/MessageBubble.tsx
  frontend/components/chat/ToolIndicator.tsx
  frontend/components/editors/FileEditorPanel.tsx
  frontend/components/editors/SamplesheetEditor.tsx
  frontend/components/workspace/PipelineWorkspace.tsx
  frontend/components/workspace/SubmitPanel.tsx
  frontend/styles/globals.css
  frontend/tailwind.config.js
Due: eslint, prettier

feat: Implement collapsible sidebar with UI store integration to adjust layout and content visibility.
  frontend/components/MainLayout.tsx
  frontend/components/Sidebar.tsx
  frontend/stores/uiStore.ts
Due: eslint, prettier

feat: Relocate sidebar collapse button to the top with a navigation label and adjust sidebar spacing.
  frontend/components/Sidebar.tsx
Due: eslint, prettier

refactor: Implement CSS variables for Header and Sidebar background/border colors and add theme-dependent logo.
  frontend/components/Header.tsx
  frontend/components/Sidebar.tsx
Due: eslint, prettier

refactor: Remove sidebar component, state, and toggle from UI, and update main layout styling.
  frontend/components/Header.tsx
  frontend/components/MainLayout.tsx
  frontend/stores/uiStore.ts
Due: eslint, prettier

refactor: Simplify layout by removing max-width constraints and `arc-surface` styling, and update background color.
  frontend/components/Header.tsx
  frontend/components/MainLayout.tsx
Due: eslint, prettier

refactor: Standardize UI colors and backgrounds using new semantic Tailwind classes.
  frontend/components/Header.tsx
  frontend/components/MainLayout.tsx
  frontend/components/Sidebar.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatPanel.tsx
  frontend/components/chat/MessageBubble.tsx
  frontend/components/chat/ToolIndicator.tsx
  frontend/components/editors/FileEditorPanel.tsx
  frontend/components/editors/SamplesheetEditor.tsx
  frontend/components/workspace/PipelineWorkspace.tsx
  frontend/components/workspace/SubmitPanel.tsx
  frontend/stores/uiStore.ts
  frontend/styles/globals.css
  frontend/tailwind.config.js
Due: eslint, prettier

feat: Display suggested prompts as placeholders within the ChatInput and refine empty chat panel layout.
  frontend/components/Header.tsx
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatPanel.tsx
  frontend/components/chat/MessageList.tsx
  frontend/components/chat/SuggestedPrompts.tsx
Due: eslint, prettier

refactor: remove pipeline workspace header UI elements.
  frontend/components/workspace/PipelineWorkspace.tsx
Due: eslint, prettier

chore: Update environment variable names from 'development/production' to 'dev/prod' in README and settings files, and adjust gemini_thinking_level to 'medium'.
  README.md
  backend/README.md
  backend/settings.yaml
Due: none

fix: Enhance error handling in job submission by adding logging for batch job failures
  backend/agents/tools/submission.py
Due: ruff, black

feat: Implement GCP Batch service with job submission, status retrieval, and error handling
  backend/services/batch.py
  backend/tests/test_batch_service.py
Due: ruff, black

feat: Add Nextflow orchestrator with Docker support, entrypoint script, and status update functionality
  .github/workflows/deploy.yml
  backend/tests/test_orchestrator_scripts.py
  orchestrator/Dockerfile.orchestrator
  orchestrator/entrypoint.sh
  orchestrator/nextflow.config.template
  orchestrator/update_status.py
  plan/06_Sprint5_GCP-Batch-Integration-and-Pipeline-Execution.md
  scripts/build-orchestrator.sh
Due: ruff, black

feat: Implement run submission and recovery flow with GCP Batch integration, including status tracking and logging
  SPEC/13-run-ops.md
  backend/api/routes/runs.py
  backend/services/run_events.py
  backend/services/runs.py
  backend/tests/fixtures/scrnaseq/nextflow.config
  backend/tests/fixtures/scrnaseq/params.yaml
  backend/tests/test_run_submission_flow.py
  orchestrator/entrypoint.sh
  plan/06_Sprint5_GCP-Batch-Integration-and-Pipeline-Execution.md
Due: ruff, black

chore: Update environment variable references from 'development' to 'dev' in docker-compose and deploy workflows, and clean up settings.yaml comments.
  .github/workflows/deploy.yml
  backend/settings.yaml
  docker-compose.yml
Due: none

chore: Add .env.example file for environment variable configuration and update docker-compose to reference these variables
  .env.example
  backend/README.md
  docker-compose.yml
Due: none

feat: Enhance BenchlingService initialization with error handling and logging, and update lifespan management in main.py
  backend/main.py
  backend/services/benchling.py
Due: ruff, black

feat: Add sample lineage tracing and descendant finding tools, and update query methods to return results in dictionary format
  backend/agents/prompts.py
  backend/agents/subagents/benchling_expert.py
  backend/agents/tools/__init__.py
  backend/agents/tools/base.py
  backend/agents/tools/benchling_discovery.py
  backend/agents/tools/entity_tools.py
  backend/agents/tools/file_generation.py
  backend/agents/tools/ngs_discovery.py
  backend/agents/tools/schema_tools.py
  backend/tests/test_benchling_discovery_tools.py
  backend/tests/test_ngs_tools.py
  backend/tests/test_pipeline_tools.py
Due: ruff, black

feat: Refactor Benchling API routes to return query results in dictionary format and add new entity retrieval endpoints
  backend/api/routes/benchling.py
  backend/services/benchling.py
Due: ruff, black

feat: Add comprehensive tests for BenchlingService and entity tools, including session management and lineage tracing
  backend/tests/integration/test_integrations.py
  backend/tests/test_benchling_service.py
  backend/tests/test_entity_tools.py
Due: ruff, black

feat: Update CI and deployment workflows to support new Benchling secrets and environment variables for testing and production
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  terraform/README.md
  terraform/environments/dev.tfvars
  terraform/environments/prod.tfvars
  terraform/main.tf
  terraform/variables.tf
Due: none
