Repository nick-youngblut/arc-reactor: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check backend
        language: system
        types: [python]
      - id: black
        name: black
        entry: black backend
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: prettier
        name: prettier
        entry: bash -c "cd frontend && npm run format"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md)$

feat: Update Benchling configuration to use Dynaconf for environment variables and enhance documentation for API usage
  AGENTS.md
  README.md
  SPEC/03-backend-spec.md
  SPEC/05-agentic-features-spec.md
  SPEC/07-integration-spec.md
  SPEC/09-deployment-spec.md
  SPEC/11-conf-spec.md
  docs/benchling-py-usage.md
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
Due: none

feat: Load environment variables from .env file in main.py and update settings.yaml for test configuration
  backend/main.py
  backend/pyproject.toml
  backend/settings.yaml
Due: ruff, black

chore: Remove outdated Benchling configuration comments from settings.yaml
  backend/settings.yaml
Due: none

chore: Update CI workflow to trigger on 'dev' branch and remove unused HeroUI dependencies from frontend
  .github/workflows/ci.yml
  frontend/app/providers.tsx
  frontend/components/editors/ConfigEditor.tsx
  frontend/components/runs/RecoveryAdvancedOptions.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
Due: eslint, prettier

chore: Remove HeroUI references from documentation and update styling configurations to focus on Tailwind CSS
  SPEC/01-project-overview.md
  SPEC/02-architecture-overview.md
  plan/01_Plan-Overview.md
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  plan/05_Sprint4_Frontend-Implementation.md
  plan/07_Sprint6_Security-Testing-Polish-and-Launch.md
Due: none

chore: Remove unused Tailwind CSS forms plugin and clean up global styles in CSS and configuration files
  frontend/package-lock.json
  frontend/package.json
  frontend/styles/globals.css
  frontend/tailwind.config.js
Due: eslint, prettier

feat: Update global CSS color palette and add brand utility classes, and document cloud-run-deploy migration steps.
  frontend/components/editors/FileEditorPanel.tsx
  frontend/styles/globals.css
Due: eslint, prettier

chore: Update orchestrator image references and container registry in backend specifications and settings
  SPEC/03-backend-spec.md
  SPEC/08-security-spec.md
  SPEC/09-deployment-spec.md
  backend/settings.yaml
  backend/tests/test_batch_service.py
Due: ruff, black

feat: Introduce tasks and weblog event log models, enhancing database schema for weblog integration
  backend/migrations/versions/0001_initial_schema.py
  backend/models/__init__.py
  backend/models/runs.py
  backend/models/tasks.py
  backend/models/weblog_event_log.py
  backend/tests/test_weblog_models.py
Due: ruff, black

feat: Add OIDC token verification and service context extraction tests to enhance authentication coverage
  backend/tests/test_auth_oidc.py
  backend/utils/auth.py
Due: ruff, black

feat: Implement internal API routes for weblog event processing and run reconciliation
  backend/api/routes/internal/__init__.py
  backend/api/routes/internal/reconcile.py
  backend/api/routes/internal/weblog.py
  backend/main.py
  backend/tests/test_internal_routes.py
Due: ruff, black

feat: Add tasks API routes and corresponding tests for task management functionality
  backend/api/routes/__init__.py
  backend/api/routes/tasks.py
  backend/tests/test_tasks_routes.py
Due: ruff, black

feat: Enhance run submission flow with weblog integration, adding weblog secret handling and updates to related services
  backend/agents/tools/submission.py
  backend/services/batch.py
  backend/services/runs.py
  backend/tests/test_batch_service.py
  backend/tests/test_run_submission_flow.py
  backend/tests/test_runs_service.py
  backend/tests/test_submission_tools.py
Due: ruff, black

feat: Update project configuration and add weblog receiver service with Docker support
  .github/workflows/deploy.yml
  SPEC/03-backend-spec.md
  SPEC/06-data-model-spec.md
  SPEC/07-integration-spec.md
  SPEC/09-deployment-spec.md
  terraform/environments/dev.tfvars
  terraform/environments/prod.tfvars
  weblog_receiver/Dockerfile
  weblog_receiver/__init__.py
  weblog_receiver/main.py
  weblog_receiver/requirements.txt
  weblog_receiver/tests/test_main.py
Due: ruff, black

feat: Upgrade Nextflow orchestrator image and refactor entrypoint script to integrate weblog functionality, removing deprecated status update script
  SPEC/09-deployment-spec.md
  backend/tests/test_orchestrator_scripts.py
  orchestrator/Dockerfile.orchestrator
  orchestrator/entrypoint.sh
  orchestrator/nextflow.config.template
  orchestrator/update_status.py
Due: ruff, black

feat: Add frontend and backend image configurations, integrate weblog receiver service, and update Terraform resources for improved deployment
  backend/settings.yaml
  terraform/environments/dev.tfvars
  terraform/environments/prod.tfvars
  terraform/main.tf
  terraform/outputs.tf
  terraform/variables.tf
  terraform/weblog.tf
Due: none

feat: Add task management components and API integration for task progress and details in run overview
  frontend/components/runs/RunDetail.tsx
  frontend/components/runs/RunList.tsx
  frontend/components/runs/RunOverview.tsx
  frontend/components/runs/TaskProgress.tsx
  frontend/components/runs/TaskTable.tsx
  frontend/lib/api.ts
  frontend/lib/utils.ts
Due: eslint, prettier

docs: Add health and readiness check instructions to backend README
  backend/README.md
Due: none

feat: Refactor architecture to deploy separate Cloud Run services for frontend, backend, and weblog receiver, enhancing scalability and event processing with Nextflow's weblog integration
  SPEC/01-project-overview.md
  SPEC/02-architecture-overview.md
  SPEC/03-backend-spec.md
  SPEC/04-frontend-spec.md
  SPEC/06-data-model-spec.md
  SPEC/07-integration-spec.md
  SPEC/08-security-spec.md
  SPEC/09-deployment-spec.md
  SPEC/13-run-ops.md
  plan/01_Plan-Overview.md
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
  plan/06_Sprint5_GCP-Batch-Integration-and-Pipeline-Execution.md
Due: none

docs: Update README and add local WebSocket configuration guide for separate dev servers; include environment variable setup for frontend and backend connections
  README.md
  docs/local-websocket-config.md
  frontend/.env.example
  frontend/hooks/useAgentChat.ts
  frontend/lib/api.ts
Due: eslint, prettier

feat: Add langgraph-checkpoint-postgres dependency to enhance graph processing capabilities
  backend/pyproject.toml
Due: none

feat: Add GITHUB_TOKEN support in Docker configuration for GitHub authentication and update README with project overview and local development instructions
  Dockerfile.dev
  README.md
  backend/services/database.py
  docker-compose.yml
  frontend/package-lock.json
Due: ruff, black

chore: Update Docker Compose configuration to set DYNACONF to 'test' and add environment variables for frontend API and WebSocket URLs
  docker-compose.yml
Due: none

chore: Remove environment variables for API and WebSocket URLs from Docker Compose configuration
  docker-compose.yml
Due: none

docs: Update README with enhanced Docker Compose instructions for background execution and additional commands for managing containers
  README.md
Due: none

feat: Enhance PostgreSQL connection handling in checkpointer and update Dockerfile for libpq-dev installation
  Dockerfile.dev
  backend/agents/checkpointer.py
  backend/agents/pipeline_agent.py
  backend/agents/subagents/benchling_expert.py
  backend/agents/subagents/config_expert.py
Due: ruff, black

refactor: Update async method calls to use .arun() for improved consistency and clarity in tests; enhance BenchlingService documentation for read-only properties
  backend/services/benchling.py
  backend/tests/conftest.py
  backend/tests/integration/test_integrations.py
  backend/tests/test_benchling_discovery_tools.py
  backend/tests/test_benchling_service.py
  backend/tests/test_entity_tools.py
  backend/tests/test_internal_routes.py
  backend/tests/test_ngs_tools.py
  backend/tests/test_orchestrator_scripts.py
  backend/tests/test_pipeline_tools.py
  backend/tests/test_run_submission_flow.py
  backend/tests/test_runs_service.py
  backend/tests/test_submission_tools.py
  backend/tests/test_tasks_routes.py
  backend/tests/test_users_service.py
  backend/tests/test_weblog_models.py
Due: ruff, black

refactor: Update task response model to use UUID for ID and improve async method calls in tests for consistency
  backend/api/routes/tasks.py
  backend/tests/conftest.py
  backend/tests/test_benchling_discovery_tools.py
  backend/tests/test_ngs_tools.py
  backend/tests/test_pipeline_tools.py
Due: ruff, black

refactor: Ensure LangGraph tables are created during checkpointer setup and update migration comments for checkpoint management
  backend/agents/checkpointer.py
  backend/migrations/versions/0001_initial_schema.py
  backend/tests/test_benchling_discovery_tools.py
Due: ruff, black

refactor: Adjust layout properties in ChatPanel and PipelineWorkspace for improved responsiveness and overflow handling
  frontend/components/chat/ChatPanel.tsx
  frontend/components/workspace/PipelineWorkspace.tsx
Due: eslint, prettier

refactor: Add text size class to ChatPanel message container for improved readability
  frontend/components/chat/ChatPanel.tsx
Due: eslint, prettier

refactor: Adjust MessageBubble styles for improved user message visibility and layout consistency
  frontend/components/chat/MessageBubble.tsx
Due: eslint, prettier

refactor: Improve file upload handling and validation in FileEditorPanel; enhance user prompts in ConfigEditor
  frontend/components/editors/ConfigEditor.tsx
  frontend/components/editors/FileEditorPanel.tsx
  frontend/components/editors/SamplesheetEditor.tsx
Due: eslint, prettier

fix: Correct string formatting for invalid message type response in chat_rest endpoint
  backend/api/routes/chat_rest.py
Due: ruff, black

chore: Remove outdated sprint planning documents for Sprints 1-6 to streamline project structure and focus on current implementation
  plan/01_Plan-Overview.md
  plan/02_Sprint1_Foundation-and-Infrastructure-Setup.md
  plan/03_Sprint2_Data-Layer-and-Core-Backend-APIs.md
  plan/04_Sprint3_AI-Agent-and-Agentic-Features.md
  plan/05_Sprint4_Frontend-Implementation.md
  plan/06_Sprint5_GCP-Batch-Integration-and-Pipeline-Execution.md
  plan/07_Sprint6_Security-Testing-Polish-and-Launch.md
Due: none

feat: Integrate CheckpointerService for LangGraph checkpoint persistence with PostgreSQL; update environment variables in docker-compose and enhance chat endpoints for improved error handling
  README.md
  SPEC/03-backend-spec.md
  SPEC/07-integration-spec.md
  backend/agents/__init__.py
  backend/agents/checkpointer.py
  backend/agents/streaming.py
  backend/agents/tools/base.py
  backend/agents/tools/benchling_discovery.py
  backend/agents/tools/entity_tools.py
  backend/agents/tools/file_generation.py
  backend/agents/tools/ngs_discovery.py
  backend/agents/tools/pipeline_tools.py
  backend/agents/tools/schema_tools.py
  backend/agents/tools/submission.py
  backend/api/routes/chat.py
  backend/api/routes/chat_rest.py
  backend/api/routes/health.py
  backend/dependencies.py
  backend/main.py
  backend/pyproject.toml
  backend/services/checkpointer.py
  backend/settings.yaml
  backend/tests/test_chat_rest.py
  backend/tests/test_chat_websocket.py
  backend/tests/test_checkpointer_service.py
  backend/tests/test_health.py
  docker-compose.yml
  frontend/components/chat/ToolIndicator.tsx
  frontend/hooks/useAgentChat.ts
Due: ruff, black, eslint, prettier

refactor: Clean up system prompt formatting and remove redundant runtime parameters from various tool functions for improved clarity and consistency
  backend/agents/pipeline_agent.py
  backend/agents/prompts.py
  backend/agents/tools/benchling_discovery.py
  backend/agents/tools/entity_tools.py
  backend/agents/tools/file_generation.py
  backend/agents/tools/ngs_discovery.py
  backend/agents/tools/pipeline_tools.py
  backend/agents/tools/schema_tools.py
  backend/agents/tools/submission.py
Due: ruff, black

feat: Add workspace_states table and associated models for managing workspace state synchronization; include validation and request handling in workspace_api
  backend/migrations/versions/0001_initial_schema.py
  backend/models/__init__.py
  backend/models/workspace.py
  backend/models/workspace_api.py
Due: ruff, black

feat: Implement WorkspaceService for managing workspace state, including CRUD operations and user-specific functionality; add comprehensive tests for service methods
  backend/models/workspace.py
  backend/models/workspace_api.py
  backend/services/workspace.py
  backend/tests/test_workspace_service.py
Due: ruff, black

feat: Add workspace routes for managing workspaces, including CRUD operations and user-specific functionality; implement tests for workspace route handlers
  backend/api/routes/__init__.py
  backend/api/routes/workspaces.py
  backend/dependencies.py
  backend/tests/test_workspace_routes.py
Due: ruff, black
