Repository nick-youngblut/arc-reactor: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, black, eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check backend
        language: system
        types: [python]
      - id: black
        name: black
        entry: black backend
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: bash -c "cd frontend && npm run lint"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
      - id: prettier
        name: prettier
        entry: bash -c "cd frontend && npm run format"
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md)$

feat: Implement file update extraction and streaming in the agent response; add tests for file update handling and validation
  backend/agents/streaming.py
  backend/tests/test_streaming_file_updates.py
Due: ruff, black

feat: Enhance workspace functionality by adding workspace service integration, new workspace tools for retrieving current samplesheet and config, and comprehensive tests for workspace operations
  backend/agents/tools/__init__.py
  backend/agents/tools/base.py
  backend/agents/tools/file_generation.py
  backend/agents/tools/workspace_tools.py
  backend/api/routes/chat.py
  backend/main.py
  backend/tests/test_workspace_tools.py
Due: ruff, black

feat: Implement useWorkspaceSync hook for managing workspace synchronization, including debounced syncing of samplesheet and config, error handling, and retry logic for failed sync attempts
  frontend/hooks/useWorkspaceSync.ts
  frontend/lib/api.ts
Due: eslint, prettier

feat: Update useAgentChat hook to handle file updates for samplesheet and config, including agent metadata support
  frontend/hooks/useAgentChat.ts
Due: eslint, prettier

feat: Enhance system prompt for workspace management by adding new capabilities for reading current samplesheet, config, and workspace status, while emphasizing the importance of respecting user edits
  backend/agents/prompts.py
Due: ruff, black

feat: Integrate workspace synchronization status in FileEditorPanel, enhancing user feedback on sync state and errors; update PipelineWorkspace to handle pipeline updates with backend integration
  frontend/components/editors/FileEditorPanel.tsx
  frontend/components/workspace/PipelineWorkspace.tsx
  frontend/hooks/useWorkspaceSync.ts
Due: eslint, prettier

feat: Introduce TaskResponse and TaskSummaryResponse schemas, and integrate them into task management endpoints for improved task detail retrieval and summary statistics
  backend/api/routes/tasks.py
  backend/models/schemas/__init__.py
  backend/models/schemas/tasks.py
  backend/services/runs.py
Due: ruff, black

docs: Update README to include application testing instructions and enhance local services section; add use-debounce dependency to frontend for improved state management
  README.md
  frontend/hooks/useWorkspaceSync.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

refactor: Update workspace API route prefix and improve authentication handling in debug mode for better user context management
  backend/api/routes/workspaces.py
  backend/utils/auth.py
Due: ruff, black

feat: Add tool invocation display in MessageBubble component to enhance message context visibility
  frontend/components/chat/MessageBubble.tsx
Due: eslint, prettier

feat: Implement collapsible tool invocation summary in MessageBubble and enhance ToolIndicator for nested display
  frontend/components/chat/MessageBubble.tsx
  frontend/components/chat/ToolIndicator.tsx
Due: eslint, prettier

feat: Add stop functionality to ChatInput and integrate with ChatPanel for improved message handling during loading states
  frontend/components/chat/ChatInput.tsx
  frontend/components/chat/ChatPanel.tsx
  frontend/hooks/useAgentChat.ts
Due: eslint, prettier

feat: Enhance workspace synchronization by implementing draft workspace association and improving thread ID handling to preserve user edits during chat sessions
  backend/agents/prompts/__init__.py
  frontend/hooks/useWorkspaceSync.ts
Due: ruff, black, eslint, prettier

refactor: Remove deprecated file update logic and introduce workspace refresh signals for specific tools, improving response handling in streaming agent.
  backend/agents/streaming.py
  backend/tests/test_streaming_file_updates.py
  backend/tests/test_streaming_workspace_signal.py
Due: ruff, black

refactor: Remove file storage logic from sample sheet and config generation, updating tests to reflect changes in runtime behavior.
  backend/agents/tools/file_generation.py
  backend/tests/test_pipeline_tools.py
Due: ruff, black

feat: Integrate 'sonner' for toast notifications and enhance workspace refresh logic in useAgentChat, improving user feedback during synchronization processes.
  README.md
  frontend/app/providers.tsx
  frontend/hooks/useAgentChat.ts
  frontend/package-lock.json
  frontend/package.json
Due: eslint, prettier

fix: Adjust text alignment in MessageBubble for user messages to improve readability during chat interactions.
  frontend/components/chat/MessageBubble.tsx
Due: eslint, prettier

chore: Update CI and deployment workflows by configuring Git for private repositories and modifying branch trigger settings to 'none_for_now'.
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

chore: Update deployment workflow to trigger on 'main' branch and disable the workflow by setting the condition to false.
  .github/workflows/deploy.yml
Due: none

chore: Add GitHub Personal Access Token to CI workflow for private repository access and update Git configuration for credential management.
  .github/workflows/ci.yml
Due: none

chore: Remove unused CI steps for Ruff and Mypy from the workflow to streamline the process and focus on essential testing with Pytest and TypeScript checks.
  .github/workflows/ci.yml
Due: none

refactor: Improve type safety in SamplesheetEditor by explicitly typing the Handsontable instance and update LogDownload to suppress unused variable warning.
  frontend/components/editors/SamplesheetEditor.tsx
  frontend/components/logs/LogDownload.tsx
Due: eslint, prettier
